#Home-page{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 58vh;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
       
}
#Home{
    width: 100%;
    border: 1px solid  rebeccapurple;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color:#c1cad1 ;
   background: #ffffff;
   background: #caf0f8;

}
.title span {
  display: inline-block;
  transition: 0.3s ease;
}
/* hover par word move */
.title span:hover {
  transform: translateY(-15px) rotate(-3deg);
  color:red;
}

/* different colors */
.title span:nth-child(1):hover {
  color: #6c63ff;
}

.title span:nth-child(2):hover {
  color: #00bcd4;
}

.title span:nth-child(3):hover {
  color: #22c55e;
}

.title span:nth-child(4):hover {
  color: #f59e0b;
}

.title span:nth-child(5):hover {
  color: #ec4899;
}

.title span:nth-child(6):hover {
  color: #8b5cf6;
}
h1{
    font-weight: bolder;
    font-size: 80px;
}